.container-fluid {
	background-image: url(https://wallpapercave.com/wp/wp2967401.jpg);
	background-size: cover;
	height: 100vh;
}

#first-row {
	text-align: center;
	padding: 180px 0px 20px 0px;
	font-family: 'Slackey', cursive, sans-serif;
	margin: 0px 35px 0px 35px;
	color: #E6CA22;
}

#buttons {
	text-align: center;
	font-family: 'Slackey', cursive, sans-serif;
}

#playGameButton, #instructions {
	box-shadow: 0px 5px 5px;
}

h2 {
	font-size: 45px;
	margin: 0px 0px 25px 0px;
	text-shadow: black 4px 4px 4px;
}

h1 {
	font-size: 55px;
	text-shadow: black 4px 4px 4px;
	text-align: center;
}

#instructionsModal {
	font-family: sans-serif;
}

#tomagotchiAnimation {
	height: 300px;
	margin: 50px 0 0 0;
	position: relative;
	animation: spongebob 7s infinite;
	animation-direction: alternate;
}
@keyframes spongebob {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
  0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}

#animationRow {
	padding: 0 350px 0 0;
}

.gamePlayButtons {
	font-family: 'Slackey', cursive, sans-serif;
}

#gameButtons {
	display: inline;
}

#gameButton {
	display: inline;
}

#eatButton, #sleepButton, #boredomButton {
	margin: 8px;
	box-shadow: 0px 5px 5px;
}

.statLevels {
	font-family: 'Slackey', cursive, sans-serif;
}

#gameOverRow {
	text-align: center;
	margin: 150px 0 0 0;
	font-family: 'Slackey', cursive, sans-serif;
	color: #E6CA22;
}

#gameOverImage {
	height: 275px;
}

#gameOverRow {
	margin: 200px 0 0 200px;
}

/*audio {
	display: none;
}*/

#playerAge {
	color: #FF4639;
}





